/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%; /* Makes it a circle */
}
